<div style="text-align:center">
  <form [formGroup]="testForm" (ngSubmit)="onSubmitForm()">

    <div class="form-group" formArrayName="availableDaysForm">

      <label for="firstName">Prénom</label>

      <div *ngFor="let day of testForm.controls.availableDaysForm.controls; let i=index">
        <input type="checkbox" class="form-control" [formControlName]="i">
     </div>

    </div>

    <button type="submit" class="btn btn-primary">Soumettre</button>

  </form>

  <h2>
    File upload :
  </h2>
  <app-file-upload></app-file-upload>
</div>


