<div style="text-align:center">
  <form [formGroup]="testForm" (ngSubmit)="onSubmitForm()">

    <mat-selection-list formArrayName="availableDays" (selectionChange)="updateAvailableDaysArray($event)">
        <mat-list-option *ngFor="let day of days; let i=index;" [formGroupName]="i" checkboxPosition="before">{{day}}</mat-list-option>
    </mat-selection-list>

    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>

  <h2>
    File upload :
  </h2>
  <app-file-upload></app-file-upload>
</div>


